@import '../../scss/variables.scss';

.project-card {
    border-radius: 2rem;
    background-color: $bgLight;
    color: #ffffff;
    padding: 1rem;
    width: 48%;

    @include responsive (tablet) {
        width: 90vw;
    }

    img {
        width: 100%;
        border-radius: 2rem 2rem 0 0;
        object-fit: cover;
        height: 25rem;

        @include responsive (tablet) {
            height: 20rem;
        }
    }

    h2 {
        color: $pink;
    }
    
    h3 {
        font-size: 1.6rem;
        padding: 1rem 0;
    }

    p {
        text-align: justify;
        min-height: 9rem;

        @include responsive(tablet) {
            font-size: 1.3rem;
        }
    }

    button {
        border: none;
        background-color: transparent;
        display: block;
        margin: 0 auto 1rem auto;

        a {
            background-color: #000000;
            color: $lightBlue;
            padding: 1rem 3rem;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.8rem;
            cursor: pointer;
            border-radius: 1.5rem;

            &:hover {
                background-color: $pink;
                color: #ffffff;
            }
        }
    }

}