@import '../../scss/variables';

footer {
    display: flex;
    justify-content: space-between;
    padding: 4rem 8rem .5rem 8rem;
    color: #ffffff;
    font-size: 1.7rem;

    @include responsive(tablet) {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        padding: 2rem 2rem .5rem 2rem;
        text-align: center;
        font-size: 1.3rem;
    }
} 